.places p {
	margin: 5px 0;
	padding: 0;
}

.places ul {
	box-sizing: border-box;
	list-style: none;
}

.places h1 {
	font-size: 30px;
	text-align: left;
}

.places-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places > article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	position: relative;
}

.places > h2 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto 60px auto;
}

.places .price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.places .information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
	align-items: center;
}

.places .max_guest, .places .number_rooms, .places .number_bathrooms {
	width: 100px;
	margin: auto 5px;
}

.places .user {
	margin: 20px 0;
}

.places .description {
	margin-bottom: 20px;
}

.places .amenities {
	margin-top: 40px;
}

.places .amenities > h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}

.places .amenities li {
	display: flex;
	align-items: center;
}
