header {
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 70px;
	width: 100%;
}

.airbnb_logo {
	margin-left: 20px;
}
